@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$list-item-background: #bebebe;
$padding: 8px 20px;
$background: #37506c;
$card-background: #262b35;

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
  transition: 300ms;
  color: white;
}

body {
  background-color: $background;
}

header {
  margin: 30px 5% 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h1 {
    color: black;
    text-align: center;
  }

  img:nth-child(3) {
    display: none;
  }
}

input,
button {
  padding: $padding;
  border: 3px solid black;
  border-radius: 5px;
  background-color: $background;
}

button {
  box-shadow: 3px 3px black;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

input::placeholder {
  color: #d5d5d5;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}

main {
  padding: 50px 10% 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  #recent-scores {
    background-color: $card-background;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 280px;
    gap: 40px;

    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-track {
      background-color: $background;
    }

    ::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 0 5px $card-background;
    }

    #scores-heading {
      display: flex;
      justify-content: space-between;
    }

    #scores-table {
      padding: 8px 0;
      background-color: $background;
      border: 3px solid black;
      border-radius: 5px;
      min-height: 150px;
      display: flex;
      flex-direction: column;
      max-height: 200px;
      overflow-y: auto;

      li {
        display: flex;
        justify-content: space-between;
        padding: $padding;
      }

      .centered-text {
        margin: auto;
        text-align: center;
      }
    }
  }

  #add-your-score {
    background-color: $card-background;
    padding: 50px;
    min-width: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    #score-form {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      button[type=submit] {
        align-self: end;
      }
    }
  }
}

@media (min-width: 900px) {
  header {
    flex-direction: row;
    gap: 50px;

    img:nth-child(3) {
      display: block;
    }
  }

  main {
    align-items: inherit;
    flex-direction: row;

    #recent-scores {
      min-width: 400px;
      max-width: none;
    }

    #add-your-score {
      min-width: 200px;
      max-width: 300px;
    }
  }
}
