@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$list-item-background: #bebebe;
$padding: 5px 10px;

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
  transition: 300ms;
}

header {
  margin: 30px 5% 20px;
}

input,
button {
  padding: $padding;
  border: 3px solid black;
  border-radius: 5px;
}

ul {
  list-style: none;
}

main {
  padding: 70px 10% 20px;
  display: flex;
  justify-content: space-around;

  #recent-scores {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 300px;
    gap: 40px;

    #scores-heading {
      display: flex;
      justify-content: space-between;
    }

    #scores-table {
      border: 3px solid black;
      border-radius: 5px;
      min-height: 150px;
      display: flex;
      flex-direction: column;

      li {
        padding: $padding;
      }

      li:nth-child(2n + 1) {
        background-color: $list-item-background;
      }

      .empty-table {
        margin: auto;
      }
    }
  }

  #add-your-score {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 300px;

    #score-form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      button[type=submit] {
        align-self: end;
      }
    }
  }
}
